body {
  	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }

h1 {
    letter-spacing: 28px;
    text-align: center;
    padding: 2cm 3cm 1cm 3cm;
    color: black; 
    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    -ms-transition: color 1s ease-in;   
} 

h1:hover {
    color: #e99708;
}

h1:hover body{
    background-color: lavender;
}

#gallery { 
  text-align: center; 
}

#clear {
    clear: both;
}

#bandcamp {
    display: inline-block;
    margin-right: 3%;
    margin-left: 21%;
    margin-bottom: 6%;
}

#profile {
    border-radius: 20%
    max-width: 5%;
    height: 5%;
}

#navbar_and_bandcamp {  
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.inline {
    display: inline-block;
}

ul {
    display: inline-block;
    vertical-align: text-bottom;
}

li  {
    color: #e99708;
    list-style: none; 
    display: inline-block;
    margin-left: 14px;
    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    -ms-transition: color 1s ease-in;
    transition: color 1s ease-in;
} 

li:hover {
    color: black;
}

a { 
    text-decoration: none;
 }

#navbar_and_bandcamp {
    text-align: center;
    margin-bottom: 6%;
}

.instagram-media, .instagram-media-rendered {
    margin-top: 5%;
}

#instagram-media {
    display: flex;
    flex-direction: row;
}

#footer {
    clear: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 65%;  
    vertical-align: bottom;
    margin-bottom: 15%,
}

.photogallery {
    border-radius: 5px;
    width: 400px;
    height: auto;
    object-fit: contain;
    margin-bottom: 0;
    -webkit-transition: width .1s; 
    transition: width .3s;
    transition-timing-function: linear;
}

.container {
    display: inline-block;
    position: relative;
}

.container:hover .photogallery {
  width: 440px;
}

.container:hover .containertext {
  font-size: 52px;
  text-shadow: .12vw .12vw black;
}

.containertext {
    margin: 0;
    top: 55%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);   
    font-family: Roboto; color: white; font-size: 30px;
    -webkit-transition: font-size 2s ease;
    -moz-transition: font-size 1s ease;
    -o-transition: font-size 1s ease;
    -ms-transition: font-size 1s ease;
    transition: font-size 1s ease;
}
