body {
	font-family: 'Roboto', sans-serif;
	}


h3 {
    text-align: left;
    float: left;
    color: black; 
   -webkit-transition: color 1s ease-in;
   -moz-transition: color 1s ease-in;
   -o-transition: color 1s ease-in;
   -ms-transition: color 1s ease-in;   
} 

h3:hover {
   color: #e99708;
}

#gallery { 
    text-align: left;
    clear: both; 
    width: 77vw;
}

#clear {
    clear: both;
}

.photogallery {
    border-radius: 1%;
    width: 34vw;
    height: auto;
    object-fit: contain;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    -webkit-transition: width .9s; 
    transition: width .9s;
    transition-timing-function: linear;
    display: inline-block;
}

.photogallery:hover {
    width: 37vw;
}


.container {
    display: inline-block;
    position: relative;
}

.container:hover .photogallery {
  width: 37vw;
}

.container:hover .containertext {
  font-size: 2vw;
  letter-spacing: 1.7vw;
  text-shadow: .12vw .12vw black;
}

.container:hover .longcontainertext {
  font-size: 2vw;
  letter-spacing: .5vw;
  text-shadow: .12vw .12vw black;
}

.containertext {
    margin: 0;
    top: 55%;
    position: absolute;
    text-align: justify;
    left: 50%;
    transform: translate(-50%,-50%);   
    font-family: Roboto; color: white; font-size: 2vw;
    -webkit-transition: letter-spacing 1s ease-in-out;
}

.longcontainertext {
    margin: 0;
    top: 55%;
    position: absolute;
    text-align: justify;
    left: 50%;
    transform: translate(-50%,-50%);   
    font-family: Roboto; color: white; font-size: 2vw;
    -webkit-transition: letter-spacing 1s ease-in-out;
}


#bandcamp {
    display: inline-block;
    text-align: center;
    align-self: right;
    position: fixed;
    right: 0px;
    top: 1.5%;
    margin-left: 1%;


}

#navbar {  
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    float:left;
}


.inline {
    display: inline-block;

}

ul {
    display: inline-block;
    vertical-align: text-bottom;
}

li  {
    color: #e99708;
    list-style: none; 
    display: inline-block;
    margin-left: 14px;
   -webkit-transition: color 1s ease-in;
   -moz-transition: color 1s ease-in;
   -o-transition: color 1s ease-in;
   -ms-transition: color 1s ease-in;
   transition: color 1s ease-in;
} 

li:hover {
    color: black;
}

a { 
    text-decoration: none;
 }

#navbar {
    text-align: center;
    margin-bottom: 2%;
}

#footer {
    clear: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 65%;  
    vertical-align: bottom;
    margin-bottom: 1%,

}

@media only screen and (max-width: 500px) {
    #bandcamp {
        display: none;
    }
    
    #gallery { 
    text-align: center;
    margin-left: 8.4%;
    margin-right: 5%;
}

    #navbar {  
    float: left;
    display: inline-block;
    margin-left: 17%;
    margin top: 7%;
}
    h3 {
    float:right;
    text-align: left;
    margin-top: 14%;
    margin-right: 26%;
    }
}
